body{
  background-color: #000033;
  color: white;
}

.header {
  height: 45vh;  
  background-size: cover;
}

p {
  font-size: 18px;
}

.imagen {
  width: 200px;
  height: auto;
}

nav {
  position: fixed;
  font-size: 20px;
  background-color: coral;
}
